<div class="sides col-md-2 col-sm-2 col-xs-12">
	<div class="sidelist col-md-12 col-sm-12 col-xs-6">
		pages
		<ul class="list-unstyled">
			<li>
				<a href="{{ site.url }}{{ site.baseurl }}">home</a>
			</li>
			<li>
				<a href="{{ site.url }}{{ site.baseurl }}/about.html">about</a>
			</li>
			<li>
				<a href="{{ site.url }}{{ site.baseurl }}/contact.html">contact</a>
			</li>
			<li>
				<a href="{{ site.url }}{{ site.baseurl }}/guides.html">guides</a>
			</li>
		</ul>
	</div>
	<div class="sidelist col-md-12 col-sm-12 col-xs-6">
		links
		<ul class="list-unstyled">
			<li>
				<a href="http://github.com/apricotsun" target="_blank">GitHub</a>
			</li>
			<li>
				<a href="http://steamcommunity.com/id/boystick/" target="_blank">Steam</a>
			</li>
		</ul>
	</div>
	<div class="sidelist col-md-12 col-sm-12 col-xs-6">
		meta
		<ul class="list-unstyled">
			<li>
				<a href="{{ site.url }}{{ site.baseurl }}/admin.html">admin</a>
			</li>
			<li>
				<a href="{{ site.url }}{{ site.baseurl }}/sitemap.xml">site map</a>
			</li>
			<li>
				 <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
			</li>
		</ul>
	</div>
</div>
